@import "tailwindcss";



@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import "flowbite/src/themes/default";

@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";

body {
    background-color: oklch(21% 0.034 264.665);
    color: azure;
}
