---
import Footer from "./components/footer.astro";
import Header from "./components/header.astro";
import Mainlayout from "./layouts/mainlayout.astro";


---

<Mainlayout>
    <Header />
    <h2>Aquí podran editar su perfil</h2>
    <Footer />
</Mainlayout>