---

---
<footer class="dark:bg-gray-800 fixed bottom-0 left-0 z-20 w-full p-4 bg-neutral-primary-soft  shadow-sm md:flex md:items-center md:justify-between md:p-6">
    <span class="text-sm text-body sm:text-center dark:text-gray-400">© 2026 <a href="/" class="hover:underline">The Final Cut</a>. All Rights Reserved.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-body sm:mt-0 dark:text-white">
        <li>
            <p class=" me-4 md:me-6 text-gray-400">JOSE ARTURO CHABLE PEREZ</p>
        </li>
        <li>
            <p class=" me-4 md:me-6 text-gray-400">N° 3196046</p>
        </li>
    </ul>
</footer>
